h1 {
  text-align: center
}

mat-drawer-content {
  padding: 20px;

}

mat-drawer {
  background: #e6dede;

  a {
    border-radius: 20px;
    background: #ffffff;
    text-align: center;
    justify-content: center;
    line-height: normal
  }
}


