<h1>Home page! (и по совместительству список проблем)</h1>

<div>
  <h2>Обучение работе с графической составляющей на d3js</h2>

  <h4>Стилям уделялось второстепенное внимание</h4>

  <ul>
    Основные нюансы:
    <li>
      Lazy loadings на 2 модуля: статические графики и динамические
      <h4>Проблема: корректная ли такая структура ? </h4>
      <h4>Проблема: нужен ли в такой структуре static-routing.module.ts или можно обойтись static.module.ts, где напрямую задать массив роутов и добавить его в метод forChild ? </h4>
    </li>
    <li>
      Line и multiline - статические графики, рисованные с помощью сервиса и d3js
      <h4>Проблема: Правильно ли строить SVG компоненты, используя один сервис?</h4>
    </li>
    <li>
      Changed и arc - динамические графики с рандомно меняющимися значениями входных параметров (простенькая эмуляция получения данных с сервака) (Посмотреть как перерисовывается графика)
    </li>
    <li>
      Form - график с данными из формы
      <h5>Arc и form сделаны без сервиса - (логика в каждом компоненте своя -пока что не придумал, как реализовать универсальный сервис)</h5>
    </li>
  </ul>

  <h3>Проблема: при переходе между графиками - SVG контейнер не отображается без обновления страницы ( как в тестовой,так и в продакшен сборке). Почему? Возврат на главную страницу и переход на любой из графиков - отображение работает корректно
    <p>НООО. В среде stackblitz.com работает нормально..</p>
  </h3>

  <h3>При сборке продакшен версии cli ругается таким типом: "Warning: initial exceeded maximum budget. Budget 500.00 kB was not met by 88.74 kB with a total of 588.74 kB." Эта проблема важна или можно ее игнорировать? Я понимаю, что он ругается на объем кода... </h3>

</div>
